* {
  margin: 0;
  padding: 0px;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --border-radius: 5px;
  /* base color 1 */
  --base-color1: 154;

  /* base color 2 */
  --saturation-color: 62%;

  /*base color 3*/
  --lightness-color: 57%;
  --lightness-color2: 47%;

  --color-base-green: hsl(var(--base-color1), var(--saturation-color), var(--lightness-color));
  --color-base-green-hover: hsl(var(--base-color1), var(--saturation-color), var(--lightness-color2));
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.todo {
  width: 750px;
  height: 530px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #f1f1f1;
  overflow: hidden;
  border-radius: var(--border-radius);

  &__sidebar {
    background-color: #f4f6f8;
    width: 230px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 48px 20px;
  }
}

.font_14 {
  font-size: 0.875em;
}

.muted {
  color: #767676;
  &:hover {
    color: #333;
  }
}

.form-control {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: #ddd;
  }
}

.btn {
  background: var(--color-base-green);
  border-radius: var(--border-radius);
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all ease 0.3s;

  &:hover {
    background: var(--color-base-green-hover);
  }
}
