.task-group {
  $self: &;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0px;
  }

  &--align-top {
    #{$self}__item {
      align-items: flex-start;

      &-icon {
        margin-top: 3px;
      }
    }
  }

  &__item {
    $item: &;
    display: flex;
    align-items: center;
    font-size: 0.875em;
    padding: 10px 12px;
    transition: background 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);

      i {
        opacity: 1;
      }

      #{$item}-remove {
        opacity: 0.2;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-title {
      flex: 1;
    }

    &-remove {
      opacity: 0;
      width: 18px;
      text-align: center;
      transition: opacity 0.3s ease;
    }

    &--active {
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
    }

    &-icon {
      line-height: 0px;
      margin-right: 10px;
      opacity: 0.7;
      transition: opacity ease 0.3s;
    }
  }
}
